USE [master]
GO
/****** Object:  Database [LVTN_HTQL_SPA]    Script Date: 25/12/2021 11:37:13 SA ******/
CREATE DATABASE [LVTN_HTQL_SPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LVTN_HTQL_SPA', FILENAME = N'E:\LuanVanTotNghiep\Project\DataBase\LVTN_HTQL_SPA.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LVTN_HTQL_SPA_log', FILENAME = N'E:\LuanVanTotNghiep\Project\DataBase\LVTN_HTQL_SPA_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LVTN_HTQL_SPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LVTN_HTQL_SPA]
GO
/****** Object:  Table [dbo].[CACHTHANHTOAN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CACHTHANHTOAN](
	[CTT_MA] [int] IDENTITY(1,1) NOT NULL,
	[CTT_TEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CTT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CALAMVIEC]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CALAMVIEC](
	[CLV_MA] [char](20) NOT NULL,
	[CLV_TEN] [nvarchar](100) NOT NULL,
	[CLV_GIOBATDAU] [time](7) NOT NULL,
	[CLV_GIOKETTHUC] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CLV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHIDINH]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHIDINH](
	[T_MA] [char](20) NOT NULL,
	[PDT_STT] [char](20) NOT NULL,
	[PDK_STT] [char](20) NOT NULL,
	[CD_SOLUONG] [int] NOT NULL,
	[CD_LIEUDUNG] [nvarchar](100) NULL,
	[CD_CACHDUNG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[T_MA] ASC,
	[PDT_STT] ASC,
	[PDK_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHONG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHONG](
	[VT_MA] [int] NOT NULL,
	[P_MA] [int] NOT NULL,
	[CTP_SOLUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VT_MA] ASC,
	[P_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[CN_MA] [int] IDENTITY(1,1) NOT NULL,
	[CN_TEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CN_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENMON]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENMON](
	[CM_MA] [int] IDENTITY(1,1) NOT NULL,
	[CM_TEN] [nvarchar](100) NOT NULL,
	[CM_MOTA] [nvarchar](100) NULL,
	[VT_MA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENMONNHANVIEN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUYENMONNHANVIEN](
	[CM_MA] [int] NOT NULL,
	[NV_MA] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NV_MA] ASC,
	[CM_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DG_GDV]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DG_GDV](
	[GDV_MA] [char](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[DONGIA] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GDV_MA] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DG_LT]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DG_LT](
	[GDV_MA] [char](20) NOT NULL,
	[LT_MA] [int] NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[DONGIA] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GDV_MA] ASC,
	[LT_MA] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[DV_MA] [char](20) NOT NULL,
	[DV_TEN] [nvarchar](100) NOT NULL,
	[DV_ANH] [nvarchar](max) NULL,
	[DV_MOTA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVUPHONG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVUPHONG](
	[P_MA] [int] NOT NULL,
	[GDV_MA] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[P_MA] ASC,
	[GDV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DVT]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVT](
	[DVT_MA] [int] IDENTITY(1,1) NOT NULL,
	[DVT_TEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DVT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[GG_MA] [char](20) NOT NULL,
	[GG_TEN] [nvarchar](200) NOT NULL,
	[GG_NGAYBATDAU] [date] NOT NULL,
	[GG_NGAYKETTHUC] [date] NOT NULL,
	[GG_NOIDUNG] [nvarchar](max) NULL,
	[GG_TRANGTHAI] [nvarchar](100) NOT NULL,
	[GG_PHANTRAMGIAM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GG_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAMGIA_PDK]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAMGIA_PDK](
	[GG_MA] [char](20) NOT NULL,
	[PDK_STT] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GG_MA] ASC,
	[PDK_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAMGOIDICHVU]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAMGOIDICHVU](
	[GG_MA] [char](20) NOT NULL,
	[GDV_MA] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GG_MA] ASC,
	[GDV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GOIDICHVU]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOIDICHVU](
	[GDV_MA] [char](20) NOT NULL,
	[GDV_TEN] [nvarchar](100) NOT NULL,
	[GDV_SOLAN] [int] NULL,
	[GDV_MOTA] [nvarchar](max) NULL,
	[GDV_ANH] [nvarchar](max) NULL,
	[LGDV_MA] [int] NOT NULL,
	[DV_MA] [char](20) NOT NULL,
	[PP_MA] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GDV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HINHTHUCTHANHTOAN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUCTHANHTOAN](
	[HTTT_MA] [int] IDENTITY(1,1) NOT NULL,
	[HTTT_TEN] [nvarchar](100) NULL,
	[HTTT_MOTA] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[HTTT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOATCHAT]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOATCHAT](
	[HC_MA] [char](20) NOT NULL,
	[HC_TEN] [nvarchar](200) NOT NULL,
	[HC_HAMLUONG] [nvarchar](100) NULL,
	[HC_CONGDUNG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HC_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HUYENQUAN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUYENQUAN](
	[HQ_MA] [int] NOT NULL,
	[HQ_TEN] [nvarchar](max) NOT NULL,
	[TT_MA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HQ_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[KH_MA] [char](20) NOT NULL,
	[KH_HOTEN] [nvarchar](100) NOT NULL,
	[KH_NGAYSINH] [date] NOT NULL,
	[KH_GIOITINH] [nvarchar](100) NOT NULL,
	[KH_DIACHI] [nvarchar](100) NULL,
	[KH_SDT] [nvarchar](100) NOT NULL,
	[KH_EMAIL] [nvarchar](100) NULL,
	[KH_TRANGTHAIDANGNHAP] [bit] NULL,
	[XP_MA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KH_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LGG_GG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LGG_GG](
	[LGG_MA] [int] NOT NULL,
	[GG_MA] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LGG_MA] ASC,
	[GG_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHHEN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHHEN](
	[LH_ID] [int] IDENTITY(1,1) NOT NULL,
	[LH_NGAYDEN] [date] NOT NULL,
	[LH_THOIGIANDEN] [time](7) NOT NULL,
	[LH_GHICHU] [nvarchar](100) NULL,
	[LH_TRANGTHAI] [nvarchar](100) NULL,
	[KH_MA] [char](20) NOT NULL,
	[GDV_MA] [char](20) NULL,
	[NV_MA] [char](20) NULL,
	[CLV_MA] [char](20) NULL,
	[THOIGIAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[NV_MA] [char](20) NOT NULL,
	[CLV_MA] [char](20) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[P_MA] [int] NULL,
	[LLV_GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NV_MA] ASC,
	[CLV_MA] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHTRINHDIEUTRI]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHTRINHDIEUTRI](
	[PDK_STT] [char](20) NOT NULL,
	[GDV_MA] [char](20) NOT NULL,
	[LT_MA] [int] NOT NULL,
	[LTDT_NGAYDT] [date] NOT NULL,
	[LTDT_THOIGIANDEN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PDK_STT] ASC,
	[GDV_MA] ASC,
	[LT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIEUTRINH]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIEUTRINH](
	[LT_MA] [int] IDENTITY(1,1) NOT NULL,
	[GDV_MA] [char](20) NOT NULL,
	[LT_STT] [int] NOT NULL,
	[LT_MOTA] [nvarchar](max) NULL,
	[LT_THOIGIANTH] [nvarchar](100) NULL,
	[LT_NGAYTHU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GDV_MA] ASC,
	[LT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIGIAMGIA]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIAMGIA](
	[LGG_MA] [int] IDENTITY(1,1) NOT NULL,
	[LGG_TEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LGG_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIGOIDICHVU]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGOIDICHVU](
	[LGDV_MA] [int] IDENTITY(1,1) NOT NULL,
	[LGDV_TEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LGDV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGAY]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAY](
	[THOIGIAN] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[NV_MA] [char](20) NOT NULL,
	[NV_HOTEN] [nvarchar](100) NOT NULL,
	[NV_NGAYSINH] [date] NOT NULL,
	[NV_GIOITINH] [nvarchar](100) NOT NULL,
	[NV_SDT] [nvarchar](100) NOT NULL,
	[NV_EMAIL] [nvarchar](100) NULL,
	[NV_CCCD] [nvarchar](100) NOT NULL,
	[NV_DIACHI] [nvarchar](100) NOT NULL,
	[NV_USERNAME] [varchar](100) NULL,
	[NV_PASSWORD] [varchar](100) NULL,
	[NV_TRANGTHAI] [nvarchar](100) NULL,
	[NV_ANH] [varchar](max) NULL,
	[XP_MA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHASX]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASX](
	[NSX_MA] [int] IDENTITY(1,1) NOT NULL,
	[NSX_TEN] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NSX_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NV_PDT]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NV_PDT](
	[NV_MA] [char](20) NOT NULL,
	[PDK_STT] [char](20) NOT NULL,
	[PDT_STT] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NV_MA] ASC,
	[PDT_STT] ASC,
	[PDK_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDANGKY]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDANGKY](
	[PDK_STT] [char](20) NOT NULL,
	[PDK_NGAYDK] [datetime] NOT NULL,
	[PDK_NGAYBATDAU] [date] NOT NULL,
	[PDK_TRANGTHAI] [nvarchar](100) NOT NULL,
	[NV_MA] [char](20) NULL,
	[GDV_MA] [char](20) NOT NULL,
	[KH_MA] [char](20) NOT NULL,
	[CTT_MA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PDK_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDIEUTRI]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDIEUTRI](
	[PDT_STT] [char](20) NOT NULL,
	[PDK_STT] [char](20) NOT NULL,
	[PDT_NGAYLAP] [datetime] NOT NULL,
	[PDT_CHUANDOAN] [nvarchar](200) NULL,
	[PDT_GHICHU] [nvarchar](200) NULL,
	[PDT_LOIDAN] [nvarchar](200) NULL,
	[PDT_TRANGTHAI] [nvarchar](100) NOT NULL,
	[PDT_TRANGTHAINNO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PDT_STT] ASC,
	[PDK_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[PT_STT] [char](20) NOT NULL,
	[PT_NGAYLAP] [datetime] NOT NULL,
	[PT_TONGTIEN] [decimal](18, 0) NULL,
	[NV_MA] [char](20) NOT NULL,
	[HTTT_MA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PT_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[P_MA] [int] IDENTITY(1,1) NOT NULL,
	[P_SO] [char](20) NOT NULL,
	[P_TEN] [nvarchar](100) NOT NULL,
	[P_MOTA] [nvarchar](max) NULL,
	[P_SOLUONGNHANVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHUONGPHAP]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHUONGPHAP](
	[PP_MA] [char](20) NOT NULL,
	[PP_TEN] [nvarchar](100) NOT NULL,
	[PP_MOTA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PP_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHUTRACHGOI]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHUTRACHGOI](
	[GDV_MA] [char](20) NOT NULL,
	[NV_MA] [char](20) NOT NULL,
	[PTG_NGAY] [datetime] NOT NULL,
	[PTG_TRANGTHAI] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GDV_MA] ASC,
	[NV_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PT_PDT]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PT_PDT](
	[PDT_STT] [char](20) NOT NULL,
	[PDK_STT] [char](20) NOT NULL,
	[PT_STT] [char](20) NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PDT_STT] ASC,
	[PDK_STT] ASC,
	[PT_STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[VT_MA] [int] NOT NULL,
	[CN_MA] [int] NOT NULL,
	[ErrorHandling] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VT_MA] ASC,
	[CN_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUOC](
	[T_MA] [char](20) NOT NULL,
	[T_TEN] [nvarchar](200) NOT NULL,
	[NSX_MA] [int] NOT NULL,
	[DVT_MA] [int] NOT NULL,
	[HC_MA] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[T_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTHANH]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTHANH](
	[TT_MA] [int] NOT NULL,
	[TT_TEN] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[VT_MA] [int] IDENTITY(1,1) NOT NULL,
	[VT_TEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VT_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XAPHUONG]    Script Date: 25/12/2021 11:37:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XAPHUONG](
	[XP_MA] [int] NOT NULL,
	[XP_TEN] [nvarchar](max) NOT NULL,
	[HQ_MA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[XP_MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHIDINH]  WITH CHECK ADD FOREIGN KEY([PDT_STT], [PDK_STT])
REFERENCES [dbo].[PHIEUDIEUTRI] ([PDT_STT], [PDK_STT])
GO
ALTER TABLE [dbo].[CHIDINH]  WITH CHECK ADD FOREIGN KEY([T_MA])
REFERENCES [dbo].[THUOC] ([T_MA])
GO
ALTER TABLE [dbo].[CHITIETPHONG]  WITH CHECK ADD FOREIGN KEY([VT_MA])
REFERENCES [dbo].[VAITRO] ([VT_MA])
GO
ALTER TABLE [dbo].[CHITIETPHONG]  WITH CHECK ADD FOREIGN KEY([P_MA])
REFERENCES [dbo].[PHONG] ([P_MA])
GO
ALTER TABLE [dbo].[CHUYENMON]  WITH CHECK ADD FOREIGN KEY([VT_MA])
REFERENCES [dbo].[VAITRO] ([VT_MA])
GO
ALTER TABLE [dbo].[CHUYENMONNHANVIEN]  WITH CHECK ADD FOREIGN KEY([CM_MA])
REFERENCES [dbo].[CHUYENMON] ([CM_MA])
GO
ALTER TABLE [dbo].[CHUYENMONNHANVIEN]  WITH CHECK ADD FOREIGN KEY([NV_MA])
REFERENCES [dbo].[NHANVIEN] ([NV_MA])
GO
ALTER TABLE [dbo].[DG_GDV]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[DG_GDV]  WITH CHECK ADD FOREIGN KEY([THOIGIAN])
REFERENCES [dbo].[NGAY] ([THOIGIAN])
GO
ALTER TABLE [dbo].[DG_LT]  WITH CHECK ADD FOREIGN KEY([GDV_MA], [LT_MA])
REFERENCES [dbo].[LIEUTRINH] ([GDV_MA], [LT_MA])
GO
ALTER TABLE [dbo].[DG_LT]  WITH CHECK ADD FOREIGN KEY([THOIGIAN])
REFERENCES [dbo].[NGAY] ([THOIGIAN])
GO
ALTER TABLE [dbo].[DICHVUPHONG]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[DICHVUPHONG]  WITH CHECK ADD FOREIGN KEY([P_MA])
REFERENCES [dbo].[PHONG] ([P_MA])
GO
ALTER TABLE [dbo].[GIAMGIA_PDK]  WITH CHECK ADD FOREIGN KEY([GG_MA])
REFERENCES [dbo].[GIAMGIA] ([GG_MA])
GO
ALTER TABLE [dbo].[GIAMGIA_PDK]  WITH CHECK ADD FOREIGN KEY([PDK_STT])
REFERENCES [dbo].[PHIEUDANGKY] ([PDK_STT])
GO
ALTER TABLE [dbo].[GIAMGOIDICHVU]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[GIAMGOIDICHVU]  WITH CHECK ADD FOREIGN KEY([GG_MA])
REFERENCES [dbo].[GIAMGIA] ([GG_MA])
GO
ALTER TABLE [dbo].[GOIDICHVU]  WITH CHECK ADD FOREIGN KEY([LGDV_MA])
REFERENCES [dbo].[LOAIGOIDICHVU] ([LGDV_MA])
GO
ALTER TABLE [dbo].[GOIDICHVU]  WITH CHECK ADD FOREIGN KEY([DV_MA])
REFERENCES [dbo].[DICHVU] ([DV_MA])
GO
ALTER TABLE [dbo].[GOIDICHVU]  WITH CHECK ADD FOREIGN KEY([PP_MA])
REFERENCES [dbo].[PHUONGPHAP] ([PP_MA])
GO
ALTER TABLE [dbo].[HUYENQUAN]  WITH CHECK ADD FOREIGN KEY([TT_MA])
REFERENCES [dbo].[TINHTHANH] ([TT_MA])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([XP_MA])
REFERENCES [dbo].[XAPHUONG] ([XP_MA])
GO
ALTER TABLE [dbo].[LGG_GG]  WITH CHECK ADD FOREIGN KEY([GG_MA])
REFERENCES [dbo].[GIAMGIA] ([GG_MA])
GO
ALTER TABLE [dbo].[LGG_GG]  WITH CHECK ADD FOREIGN KEY([LGG_MA])
REFERENCES [dbo].[LOAIGIAMGIA] ([LGG_MA])
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD FOREIGN KEY([NV_MA], [CLV_MA], [THOIGIAN])
REFERENCES [dbo].[LICHLAMVIEC] ([NV_MA], [CLV_MA], [THOIGIAN])
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD FOREIGN KEY([KH_MA])
REFERENCES [dbo].[KHACHHANG] ([KH_MA])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([CLV_MA])
REFERENCES [dbo].[CALAMVIEC] ([CLV_MA])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([NV_MA])
REFERENCES [dbo].[NHANVIEN] ([NV_MA])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([THOIGIAN])
REFERENCES [dbo].[NGAY] ([THOIGIAN])
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD FOREIGN KEY([P_MA])
REFERENCES [dbo].[PHONG] ([P_MA])
GO
ALTER TABLE [dbo].[LICHTRINHDIEUTRI]  WITH CHECK ADD FOREIGN KEY([PDK_STT])
REFERENCES [dbo].[PHIEUDANGKY] ([PDK_STT])
GO
ALTER TABLE [dbo].[LICHTRINHDIEUTRI]  WITH CHECK ADD FOREIGN KEY([GDV_MA], [LT_MA])
REFERENCES [dbo].[LIEUTRINH] ([GDV_MA], [LT_MA])
GO
ALTER TABLE [dbo].[LIEUTRINH]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([XP_MA])
REFERENCES [dbo].[XAPHUONG] ([XP_MA])
GO
ALTER TABLE [dbo].[NV_PDT]  WITH CHECK ADD FOREIGN KEY([PDT_STT], [PDK_STT])
REFERENCES [dbo].[PHIEUDIEUTRI] ([PDT_STT], [PDK_STT])
GO
ALTER TABLE [dbo].[NV_PDT]  WITH CHECK ADD FOREIGN KEY([NV_MA])
REFERENCES [dbo].[NHANVIEN] ([NV_MA])
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD FOREIGN KEY([CTT_MA])
REFERENCES [dbo].[CACHTHANHTOAN] ([CTT_MA])
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD FOREIGN KEY([KH_MA])
REFERENCES [dbo].[KHACHHANG] ([KH_MA])
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD FOREIGN KEY([NV_MA])
REFERENCES [dbo].[NHANVIEN] ([NV_MA])
GO
ALTER TABLE [dbo].[PHIEUDIEUTRI]  WITH CHECK ADD FOREIGN KEY([PDK_STT])
REFERENCES [dbo].[PHIEUDANGKY] ([PDK_STT])
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD FOREIGN KEY([HTTT_MA])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([HTTT_MA])
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD FOREIGN KEY([NV_MA])
REFERENCES [dbo].[NHANVIEN] ([NV_MA])
GO
ALTER TABLE [dbo].[PHUTRACHGOI]  WITH CHECK ADD FOREIGN KEY([GDV_MA])
REFERENCES [dbo].[GOIDICHVU] ([GDV_MA])
GO
ALTER TABLE [dbo].[PHUTRACHGOI]  WITH CHECK ADD FOREIGN KEY([NV_MA])
REFERENCES [dbo].[NHANVIEN] ([NV_MA])
GO
ALTER TABLE [dbo].[PT_PDT]  WITH CHECK ADD FOREIGN KEY([PDT_STT], [PDK_STT])
REFERENCES [dbo].[PHIEUDIEUTRI] ([PDT_STT], [PDK_STT])
GO
ALTER TABLE [dbo].[PT_PDT]  WITH CHECK ADD FOREIGN KEY([PT_STT])
REFERENCES [dbo].[PHIEUTHU] ([PT_STT])
GO
ALTER TABLE [dbo].[QUYEN]  WITH CHECK ADD FOREIGN KEY([CN_MA])
REFERENCES [dbo].[CHUCNANG] ([CN_MA])
GO
ALTER TABLE [dbo].[QUYEN]  WITH CHECK ADD FOREIGN KEY([VT_MA])
REFERENCES [dbo].[VAITRO] ([VT_MA])
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD FOREIGN KEY([DVT_MA])
REFERENCES [dbo].[DVT] ([DVT_MA])
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD FOREIGN KEY([NSX_MA])
REFERENCES [dbo].[NHASX] ([NSX_MA])
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD FOREIGN KEY([HC_MA])
REFERENCES [dbo].[HOATCHAT] ([HC_MA])
GO
ALTER TABLE [dbo].[XAPHUONG]  WITH CHECK ADD FOREIGN KEY([HQ_MA])
REFERENCES [dbo].[HUYENQUAN] ([HQ_MA])
GO
USE [master]
GO
